        body{
            margin: 0;
            background: #FFF;
        }
        .wrapper{
            width: 980px;
            padding: 10px;
            margin: 0 auto;
            background: #c0c0c0;
        }
        .header{
            height: 200px;
        }
            .header h1{
                float: left;
                margin: 0;
            }
        .nav{
            float: left;
            width: 200px;
            margin: 0 20px 0 0;
            background: #fff;
        }
            .menu{
                margin: 0;
                padding: 5px;
            }
                .menu__item{
                    margin: 0 0 3px;
                    list-style: none;
                }
                    .menu__item:hover{
                        background: #FFF;
                    }
                    .menu__item a{
                        display: block;
                        height: 20px;
                        background: #c0c0c0;
                    }
                    .menu__item:hover a{
                        background: #FFF;
                    }

        .content{
            overflow: hidden;
        }
        .prod_list{
            margin: 0; padding: 0;
        }
            .prod_list__item{
                display: inline-block;
                margin: 0 10px 10px 0;
                vertical-align: top;
            }
                .prod_list__link{
                    display: block;
                    position: relative;
                    width: 175px;
                    color: #fff;
                    background: #fff;
                    overflow: hidden;
                }
                .prod_list__item h2{
                    position: absolute;
                    height: 16px;
                    right: 0; left: 0; bottom: -36px;
                    font-size: 14px;
                    margin: 0;
                    padding: 10px;
                    background: rgba(0, 0, 0, 0.6);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;
                    transition:         bottom ease 0.5s;
                    -moz-transition:    bottom ease 0.5s;
                    -webkit-transition: bottom ease 0.5s;
                }
                    .prod_list__link:hover h2{
                        bottom: 0;
                    }
                    .prod_list__link:hover h2 a{
                        text-decoration: none;
                    }
                .prod_lis__img{
                    width: 100%;
                    height: 150px;
                    overflow: hidden;
                }
                    .prod_lis__img img{
                        width: 100%;
                    }
        .pagination{
            text-align: center;
        }

        .clearfix:after{
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
        .clearfix{display: inline-block;}
        * html .clearfix {height: 1%;}
        .clearfix {display: block;}