<!DOCTYPE html>
<html>
<head>
    <title>my first Django project</title>

    <style type="text/css">


    </style>

    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
    <div class="wrapper clearfix">
        <header class="header">
            <h1>
                <a href="/">my first Django project</a>
            </h1>
        </header>
        <nav class="nav">
            {% include "menu.html" %}
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>